.aboutCard {
    background-color: #011b4f;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.aboutDot {
    margin-top: -100px;
    margin-bottom: -100px;
    margin-left: -8px;
    width: 400px;
}

.paragraph {
    padding: 15px;
}