.aboutCard {
    background-color: #011b4f;
}

.aboutDot {
    margin-top: -200px;
    margin-bottom: -100px;
    margin-left: -8px;
    width: 400px;
}

.paragraph {
    padding: 15px;
}

@media screen and (max-width: 1020px) {

    .aboutDot {
        margin-top: -100px;
        margin-bottom: -100px;
        margin-left: -8px;
        width: 400px;
    }
    
    .paragraph {
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding: 0px;
    }

  }