.leftScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0%;
    padding: 1rem;
    padding-right: 0%;
    padding-left: 0%;
    background-color: #011b4f;
}

.dotBackground {
    margin-top: -25%;
    margin-bottom: -15%;
    margin-left: -5%;
    width: 80%;
}

.mediaLinks {
    display: flex;
    justify-content: center;
}

.icon {
    display: flex;
    justify-content: center;
    width: 33%; 
    height: 33%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.profile {
    width: 75%;
    height: 75%;
    margin-top: 5%;
}

@media all and (min-width: 1020px) {

    .leftScreen {
        background-color: #011b4f;
    }
    
    .dotBackground {
        margin-top: -100px;
        margin-bottom: -100px;
        margin-left: -40px;
        width: 400px;
    }

    .mediaLinks {
        display: flex;
        justify-content: space-between;
    }
    
    .icon {
        display: flex;
        justify-content: space-between;
        width: 30px; 
        height: 30px;
        margin-right: 15px;
        margin-bottom: 30px;
        padding-top: 10px;
    }
    
    .profile {
        width: 350px;
        height: 350px;
        margin-top: 10px;
    }    

}