.leftSide {
    padding-right: 50px;
    padding-left: 37px;
    background-color: #011b4f;
}

.dotBackground {
    margin-top: -100px;
    margin-bottom: -100px;
    margin-left: -50px;
    width: 400px;
}

.icon {
    width: 30px; 
    height: 30px;
    margin-right: 15px;
    margin-bottom: 30px;
    padding-top: 10px;
}

.profile {
    width: 350px;
    height: 350px;
    margin-top: 10px;
}