.projects {
    background-color: #011b4f;
}

.projectDot {
    margin-top: -100px;
    margin-bottom: -100px;
    margin-left: -40px;
    width: 400px;
    z-index: 1;
}

.projectCard {
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
}

.tools {
    display: flex;
    flex: start;
}

.tool {
    padding: 6px 8px 6px 8px;
    margin: 9px;
    background-color: #FF4AA8;
    border-radius: 10px 10px 10px 10px;
    font-weight: bold;
}

.link {
    display: flex;
    justify-content: center;
}

#allProjects { 
    display: flex;
    justify-content: center;
    z-index: 10;
    margin-top: 45px; 
    border-radius: 10px 10px 10px 10px;
    padding: 9px;


    color: ghostwhite;
    background-color: #693ac6;
    font-style: italic;
    font-weight: bold;
    border-style: none;
    box-shadow: 2px 2px ghostwhite;
}