.projects {
    background-color: #011b4f;
}

.projectDot {
    margin-top: -100px;
    margin-bottom: -100px;
    margin-left: -40px;
    width: 400px;
}

.projectCard {
    margin-top: 45px;
    /* border-style: solid;
    border-color: #693ac6;
    border-width: 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px; */
}

.tools {
    display: flex;
    flex: start;
}

.tool {
    padding: 6px 8px 6px 8px;
    margin: 9px;
    background-color: #8e3563;
    border-radius: 10px 10px 10px 10px;
    font-weight: bold;
}