.projects {
    background-color: #011b4f
}

.projectDot {
    margin-top: -100px;
    margin-bottom: -100px;
    margin-left: -40px;
    width: 400px;
}

.projectCard {
    padding-top: 15px;
}

.tools {
    display: flex;
    justify-content: space-around;
}

.tool {
    padding: 6px 8px 6px 8px;
    margin: 9px;
    background-color: #8e3563;
    border-radius: 10px 10px 10px 10px;
}