.projects {
    background-color: #011b4f
}

.xpDot {
    margin-top: -100px;
    margin-bottom: -100px;
    margin-left: -40px;
    width: 400px;
    height: min-content;
}

.xpCard {
    padding-top: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company {
    font-style: italic;
    font-weight: bold;
}

.timeline {
    height: min-content;
    padding: 6px 8px 6px 8px;
    margin: 9px;
    background-color: #8e3563;
    border-radius: 10px 10px 10px 10px;
    font-style: italic;
}