.projects {
    background-color: #011b4f
}

.xpDot {
    margin-top: 0px;
    margin-bottom: -100px;
    margin-left: -25px;
    width: 400px;
    height: min-content;
    z-index: 1;
}

.xpCard {
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company {
    font-style: italic;
    font-weight: bold;
}

.timeline {
    height: min-content;
    padding: 6px 8px 6px 8px;
    margin: 9px;
    background-color: #8e3563;
    border-radius: 10px 10px 10px 10px;
    font-style: italic;
}

#fullResume { 
    display: flex;
    justify-content: center;
    z-index: 10;
    margin-top: 45px; 
    border-radius: 10px 10px 10px 10px;
    padding: 9px;


    color: ghostwhite;
    background-color: #693ac6;
    font-style: italic;
    font-weight: bold;
    border-style: none;
    box-shadow: 2px 2px ghostwhite;
}