#root {
  margin: 0 auto;
  padding: 5rem;
  color: ghostwhite;
  font-family: "verdana", sans-serif;
}

.body {
  display: flex;
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
}

.leftSide {
  position: fixed;
  top: 0;
}

.rightSide {
  margin-left: 50%;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-50%);
  transition: all 1s;
  text-decoration-line: none !important;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  text-decoration-line: none !important;
}

.Card {
  margin-top: 30px;
  padding: 15px;
  border-radius: 10px 10px 10px 10px;
  transition: background-color 0.2s, box-shadow 0.2s;
  color: ghostwhite;
  text-decoration-line: none !important;
}

.hovered {
  background-color: #693ac6;
  box-shadow: 4px 3px #f8f8ff;
}

.about {
  z-index: 2;
}

.projects {
  z-index: 3;
}

.workXP {
  z-index: 1;
}

.hiddenButton {
  background-color: #693ac6;
  box-shadow: 4px 3px #f8f8ff;
}
