#root {
  margin: 0 auto;
  padding: 5rem;
  color: ghostwhite;
  font-family: "verdana", sans-serif;
  cursor: url('src/images/Mouse_Dot.mp4');
}

.body {
  display: flex;
  cursor: url('src/images/Mouse_Dot.mp4');
}

.leftSide {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.rightSide {
  margin-left: 80px;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-50%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hiddenButton {
  background-color: #693ac6;
  box-shadow: 4px 3px ghostwhite;
}